<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <node pkg="tf" type="static_transform_publisher" name="tf_base_footprint_2_link" args="0 0 0.33 0 0 0 /base_footprint /base_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="tf_base_footprint_2_rear_axis_link" args="0 0 0.33 0 0 0 /base_footprint /base_rear_axis_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="tf_base_footprint_2_front_axis_link" args="3.745 0 0 0 0 0 /base_rear_axis_link /base_front_axis_link 1000" />
    
</launch>