<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- overwriting these args -->
  <arg name="debug" default="false" />
  <arg name="verbose" default="false" />
  <arg name="gui" default="true" />
  <arg name="pause" default="false" />
  <arg name="headless" default="false" />
  <arg name="world" default="" />
  <arg name="use_sim_time" default="true" />

  <arg name="control" default="false" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find quetzalcoatl_description)/urdf/robocross_22.urdf.xacro' robot_name:=gazel" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.2" />

  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />

  <!-- include gazebo_ros launcher -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="paused" value="$(arg pause)" />
    <arg name="verbose" default="$(arg verbose)" />
  </include>

  <!-- Publish static TFs (fixed joints) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Publish dynamic TFs (non-fixed joints) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- IMU filter for rs-->
  <include file="$(find quetzalcoatl_software)/launch/drivers/imu_filter.launch">
    <arg name="in_topic" value="rs_camera_left/imu" />
    <arg name="out_topic" value="rs_camera_left/imu/filtered" />
  </include>


</launch>