<?xml version="1.0"?>
<launch>
  <group ns="quetzalcoatl">
    <node
        pkg="kronshtadt_lidar_driver"
        type="kronshtadt_lidar_driver"
        name="kt_lidar"
        output="log">
      <remap
          from="~KT_lidar"
          to="/quetzalcoatl/kt_cloud2" />
    </node>
  </group>
</launch>